extends layout

block main
    include includes/app/post-tweet.pug
    .app--body(class="bounds")
        include includes/app/header.pug
        include includes/app/sections.pug
        script(src="js/twitter-text.js")
        //script(src="https://cdn.jsdelivr.net/npm/twitter-text@2.0.4/build/twitter-text.min.js")
        script(src="js/app.js")
