extends layout

block main
    include includes/app/post-tweet.pug
    .app--body(class="bounds")
        include includes/app/header.pug
        include includes/app/sections.pug
        script(src="js/twitter-text.js")
        script(src="js/app.js")
