each follower in [1, 2]
    li
        .circle--fluid
            .circle--fluid--cell(class="circle--fluid--primary")
                a.app--tweet--author
                    .app--avatar(style="background-image: url(images/f-spore.png)")
                        img(src="images/f-spore.png")
                    h4 Name
                    p @username
            .circle--fluid--cell
                a.button(class="button-text") Unfollow
