mixin section(header)
    .grid-33
        .app--section--heading
            if (block)
                block
            h2= header

.app--section--header
    +section('Timeline')
    +section('Following')
        strong= user.friends_count
    +section('Direct Messages')
